<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main">
{{>header}}
<p>This Site was created by Ali. It uses data from mapsky</p>
    </div>
   {{>footer}}
</body>

</html>